@{
    ViewData["Title"] = "Index Admin";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                WE ARE THE ADMINS!
            </h1>
        </div>
    </div>
    <div>
        <p>Hier kan je volgende acties doen:</p>
        <ol>
            <li>Producten</li>
                <ul>
                    <li>Bekijken</li>
                    <li>Aanmaken</li>
                    <li>Bewerken</li>
                    <li>Verwijderen</li>
                </ul>
            <li>Gebruikers en admins</li>
                <ul>
                    <li>Bekijken</li>
                    <li>Aanmaken</li>
                    <li>Bewerken</li>
                    <li>Verwijderen</li>
                </ul>
            <li>Bestellingen</li>
                <ul>                
                    <li>Bekijken</li>
                    <li>Verwijderen in bulk</li>
                </ul>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="~/images/meme_admin.jpg" alt="meme admin" class="img-fluid" />
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/meme_unlimited_power.jpg" alt="meme unlimited power" class="img-fluid" />
        </div>
    </div>

</div>