@{
    ViewData["Title"] = "Index Admin";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                WE ARE THE ADMINS!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="~/images/meme_admin.jpg" alt="meme admin" class="img-fluid" />
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/meme_unlimited_power.jpg" alt="meme unlimited power" class="img-fluid" />
        </div>
    </div>

</div>