@model List<EggSplorer.Models.Products>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <form method="post">
        <table class="table table--bottom-margin">
            <thead>
                <tr>
                    <th class="col-lg-2 text-center">
                        Foto
                    </th>
                    <th class="col-lg-2">
                        Naam
                    </th>
                    <th class="col-lg-4">
                        Beschrijving
                    </th>
                    <th class="col-lg-1">
                        Prijs
                    </th>
                    <th class="col-lg-1">
                        Aantal
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="col-lg-2 text-center">
                            @{
                                var img = Model[i].Id.ToString() + ".jpg";
                            }
                            <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                        </td>
                        <td class="col-lg-2">
                            @Model[i].Name
                        </td>
                        <td class="col-lg-4">
                            @Model[i].Description
                        </td>
                        <td class="col-lg-1">
                            € @Model[i].ProductPrice
                        </td>
                        <td class="col-lg-2">
                            <div class="my-form-group form-group">
                                <input type="hidden" name="info[@i].ProductId" value="@Model[i].Id">
                                <input type="number" name="info[@i].Quantity" min="0" value="0">
                            </div>
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
        <div class="my-form-group form-group">
            <button type="submit" class="submit-button">
                <span class="material-icons">shopping_cart</span>
            </button>
        </div>
    </form>
</body>
</html>