@model OrderViewModel
@*@model List<EggSplorer.Models.Products>*@
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <table class="table table--bottom-margin">
        <thead>
            <tr>
                <th class="col-lg-2 text-center">
                    Foto
                </th>
                <th class="col-lg-2">
                    Naam
                </th>
                <th class="col-lg-4">
                    Beschrijving
                </th>
                <th class="col-lg-1">
                    Prijs
                </th>
                <th class="col-lg-1">
                    Aantal
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td class="col-lg-2 text-center">
                        @{
                            var img = item.Id.ToString() + ".jpg";
                        }
                        <img class="img-fluid" src="~/images/@img" style="height:100px; object-fit:cover">
                    </td>
                    <td class="col-lg-2">
                        @item.Name
                    </td>
                    <td class="col-lg-4">
                        @item.Description
                    </td>
                    <td class="col-lg-1">
                        € @item.ProductPrice
                    </td>
                    <td class="col-lg-2">
                        <form method="post">
                            <div class="my-form-group form-group">
                                <input type="number" name="quantity" id="quantity">
                            </div>
                            <div class="my-form-group form-group">
                                <button type="submit" class="submit-button">
                                    <span class="material-icons">shopping_cart</span>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>