@{
    ViewBag.Title = "Thankyou";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bedankt voor uw bestelling!</h1>
                <hr>
                <p>Uw bestelling is succesvol geplaatst.</p>
                <p><a href="/Bestel" class="btn btn-primary">Nieuwe bestelling plaatsen? Klik hier.</a></p>
            </div>
        </div>
    </div>
</body>
</html>
