@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-lg-8 text-center">
            <h1 class="display-3">Welkom</h1>
            <img src="~/images/eggsplorer_vector.jpg" class="img-fluid rounded-circle mt-4 mb-5" />
            <p class="lead">Welkom bij EggSplorer, dé plek waar je de meest heerlijke paaseitjes kunt vinden én bestellen!</p>
            <p>Of je nu op zoek bent naar kleine paaseitjes, grote paaseieren of een leuke paashaas, wij hebben het allemaal. Maar dat is niet alles, ook voor gepersonaliseerde paaseieren als cadeau ben je bij ons aan het juiste adres. Neem een kijkje in ons assortiment en ontdek nieuwe smaken om van te genieten tijdens de paasdagen.</p>
            <p>Bestel nu en laat je verrassen door de heerlijke smaken van onze paaseitjes!</p>
        </div>
    </div>
</div>
