@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="col text-center m-2 p-2">Welkom</h1>
    <div class="text-center my-5">
        <img src="~/images/eggsplorer_vector.jpg" class="col-10 col-sm-4 img-fluid img-thumbnail rounded-circle" />
    </div>
    <p class="col">
        Welkom bij EggSplorer, dé plek waar je de meest heerlijke paaseitjes kunt vinden én bestellen!<br><br>
        Of je nu op zoek bent naar kleine paaseitjes, grote paaseieren of een leuke paashaas, wij hebben het allemaal. Maar dat is niet alles, ook voor gepersonaliseerde paaseieren als cadeau ben je bij ons aan het juiste adres. Neem een kijkje in ons assortiment en ontdek nieuwe smaken om van te genieten tijdens de paasdagen.<br>
        Bestel nu en laat je verrassen door de heerlijke smaken van onze paaseitjes!
    </p>
</div>
