@{
    ViewBag.Title = "Info";
}

<div class="container">

    <div class="row justify-content-center align-items-center py-5">
        <div class="col-md-6">
            <h2>Wie zijn wij?</h2>
            <p>Wij zijn de derde generatie van paaseieren makers. Met trots zetten we de familietraditie verder en leveren we al jarenlang heerlijke paaseieren aan onze klanten. Onze passie voor chocolade, gekoppeld aan vakmanschap en innovatieve ideeën, stelt ons in staat om kwalitatief hoogwaardige producten te produceren.</p>
        </div>
        <div class="col-md-6">
        <img src="~/images/masked_singer.jpg" class="col-10 col-sm-10 img-fluid img-thumbnail rounded-circle" />
        </div>
    </div>

    <hr>

    <div class="row justify-content-center align-items-center py-5">
        <div class="col-md-6">
            <img src="~/images/11.jpg" alt="Easter egg" style="max-width: 100%" />
        </div>
        <div class="col-md-6">
            <h2>EggSplorer Special</h2>
            <p>Onze EggSplorer Special is een paasei zoals je nog nooit hebt gezien. Het ei is uitgehold en bevat een leuk paastafereel dat je zelf kunt kiezen. De EggSplorer Special kan bovendien gepersonaliseerd worden, zodat je een uniek en persoonlijk paascadeau kunt geven aan je vrienden of familie. Om je speciale paasei te personaliseren, vragen we je om langs te komen in onze winkel. Hier kun je het tafereel kiezen en je persoonlijke boodschap doorgeven. Online bestellen van de gepersonaliseerde versie is helaas niet mogelijk, maar onze standaard EggSplorer Special kun je uiteraard wel gewoon online bestellen. Met dit bijzondere paasei haal je gegarandeerd iets unieks in huis en maak je van Pasen een echt feest!</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center align-items-center py-5">
        <div class="col-md-6">
            <h2>Contactgegevens</h2>
            <p>Onze winkel is gevestigd in het centrum van de stad. U kunt ons vinden op de volgende locatie:</p>
            <address>
                Konijnenlaan 69<br>
                8500 Kortrijk<br>
                Tel: 0691 41 33 21<br>
                E-mail: info@EggSplorer.be
            </address>
        </div>
        <div class="col-md-6">
            <img src="~/images/grondplan.jpg" alt="Chocolates" style="max-width: 100%" />
        </div>
    </div>

</div>
