// geef info over ons
@{
	ViewBag.Title = "Info";
}

<div class="text-center">
	<h1 class="display-4">Info</h1>
</div>

<div class="text-center">
	<p>
		Wij zijn een groep studenten van de opleiding Elektronica-ICT in Vives Kortrijk.
		Wij hebben deze website gebouwd voor het vak Web Development.
	</p>
</div>

