@model EggSplorer.Data.EggsplorerContext
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <p>
        test
    </p>
    @foreach (var item in Model.Products)
    {
        @item.Name
        <br>
    }
</body>
</html>